@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white; /*rgb(43, 37, 37);*/

    
}
main {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: white;/* #a8a8a8; */
    min-width: 320px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 10px 20px 0px 20px;
    border-radius: 20px;
    /*box-shadow: 0px 0px 10px black;*/
}

header {
    margin:0px;
    padding: 0px 0px 1px 0px;
    background-color: #8d8787;
    box-shadow: 5px 5px 5px #7c7070;
    border-radius: 0px 0px 10px 10px;
}
nav {
    margin: 15px;
}
nav >a {
    background-color: #8d8787;
    font-size: 1.7em;
    margin: 8px;
    padding: 6px;
    text-decoration: none;
    color:black;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.377);
}
nav >a:hover {
    color: white;
    background-color:#806f6f ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #867b7b;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    
}

header > h1 {
    margin: 0px auto 10px auto;
    padding: 10px 0px 10px 0px;;
    background-color: rgb(43, 37, 37);
    color: white;
    text-align: center;
    border-radius: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    box-shadow: 5px 5px 5px #1b1b1b;
    font-size: 5em;  
}
header >h1:hover{
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    background-color: rgb(43, 37, 37);
    color: white;
    box-shadow: 5px 5px 5px #1b1b1b;
    font-size: 5.5em; 
}

header >  h2{
    margin: 0px;
    padding: 10px;
    background-color: rgb(43, 37, 37);
    color: white;
    border-radius: 10px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    box-shadow: 5px 5px 5px #1b1b1b;
}

.section1{
    margin: 20px auto 20px auto;
    
}

.attentionH2:hover {
    color: white;
    background-color:rgb(43, 37, 37); ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #1b1b1b;;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    font-size: 2em;
}

.attention:hover{
    color: white;
    background-color:rgb(43, 37, 37); ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #1b1b1b;;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    font-size: 1.5em;
}

.news {
    margin: auto;
    padding: 20px;
    background-color: #a5a0a0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #867b7b;
}

.insertNews {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    background-color: #a5a0a0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #867b7b;
    
}

.btnTitulo{
    border-radius: 5px;
}

.btnTitulo:hover{
    background-color: #7a5555;
    color: white;
    font-size: 1.2em;
}

.insercaoTitulo {
    margin: 10px auto 10px auto;
    padding: 10px;
    background-color: rgb(102, 81, 81);
    color: white;
    box-shadow: 5px 5px 5px #1b1b1b;
    text-shadow: 5px 5px 5px black;
    border-radius: 10px;
    font-size: 2em;
}
.conteudo {
    width: 100%;
}

.btnConteudo{
    border-radius: 5px;
    
}

.btnConteudo:hover{
    background-color: #7a5555;
    color: white;
    font-size: 1.2em;
}


.insercaoConteudo{
    margin: 10px auto 10px auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #867b7b;
}

.btnApagar {
    border-radius: 5px;
}

.btnApagar:hover{
    background-color: #490000;
    color: white;
    font-size: 1.2em;
}

.btnApagarNoticias {
    background-color: #806f6f;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #867b7b;
    margin: 0px 0px 0px 32px;
}


footer {
    margin: auto;
    padding: 20px;
    background-color: #686565;
    box-shadow: 0px 0px 10px #494444;
    border-radius: 10px;
}

#hour {
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.356);
}

#hour:hover{
    text-align: center;
    color: white;
    background-color:rgb(43, 37, 37); ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #1b1b1b;;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    font-size: 1.5em;
}