@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: #a8a8a8;
}

header {
    width: 100%;
    margin: auto;
    padding: 30px;
    background-color: #8d8787;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #7c7070;
}

header > a {
    margin: 10px;
    padding: 6px;
    text-decoration: none;
    color:black;
}
header >a:hover {
    color: white;
    background-color:#806f6f ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #867b7b;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    
}

header > h1 {
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    margin: 10px -30px 10px -30px;
    padding: 10px 0px 10px 0px;;
    background-color: rgb(43, 37, 37);
    color: white;
    box-shadow: 5px 5px 5px #1b1b1b;
    font-size: 5em;  
}
header >h1:hover{
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    margin: 10px -30px 10px -30px;
    padding: 10px 0px 10px 0px;;
    background-color: rgb(43, 37, 37);
    color: white;
    box-shadow: 5px 5px 5px #1b1b1b;
    font-size: 5.5em; 
}

header >  h2{
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    margin: 10px -30px 10px -30px;
    padding: 10px;
    background-color: rgb(43, 37, 37);
    color: white;
    box-shadow: 5px 5px 5px #1b1b1b;
}
header >h2:hover{
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    margin: 10px -30px 10px -30px;
    padding: 10px;
    background-color: rgb(43, 37, 37);
    color: white;
    box-shadow: 5px 5px 5px #1b1b1b;
    font-size: 2em;
}

.attention:hover{
    color: white;
    background-color:rgb(43, 37, 37); ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #1b1b1b;;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    font-size: 1.5em;
}

.news {
    width: 100%;
    margin: 50px 0px;
    padding: 30px;
    background-color: #a5a0a0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #867b7b;
}

.insertNews {
    width: 100%;
    margin: 50px 0px;
    padding: 30px;
    background-color: #a5a0a0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #867b7b;
}

.btnTitulo{
    border-radius: 5px;
}

.btnTitulo:hover{
    background-color: #7a5555;
    color: white;
    font-size: 1.2em;
}

.insercaoTitulo {
    margin: 10px 0px 40px 10px;
    padding: 10px;
    background-color: rgb(102, 81, 81);
    color: white;
    box-shadow: 5px 5px 5px #1b1b1b;
    border-radius: 10px;
    font-size: 2em;
}

.btnConteudo{
    border-radius: 5px;
    
}

.btnConteudo:hover{
    background-color: #7a5555;
    color: white;
    font-size: 1.2em;
}

.insercaoConteudo{
    margin: 10px 0px 10px 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #867b7b;
}

.btnApagar {
    border-radius: 5px;
}

.btnApagar:hover{
    background-color: #490000;
    color: white;
    font-size: 1.2em;
}

.btnApagarNoticias {
    background-color: #806f6f;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #867b7b;
    margin: 0px 0px 0px 32px;
}


footer {
    width: 100%;
    margin: 50px 0px 0px 0px;
    padding: 30px;
    background-color: #686565;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #494444;
}

#hour {
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgb(66, 64, 64);
}